@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Nunito+Sans');

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

.title {
	font-size: 2em;
	line-height: 2.2em;
	margin: .2em 0;
}

img {
	width: 100%;
}

.round {
 border-radius: 50%;
}

.right {
	float: right;
}

ul.spacious > li {
	padding-bottom: 15px;
}

ul.spacious > li:last-of-type {
	padding-bottom: 0;
}

header, section, footer {
	max-width: 960px;
	margin: 20px auto;
}

.box {
	display: flex;
	margin-left: -35px;
	margin-right: -35px;
}

.box > div {
	padding: 0 35px;
}

.golden-ratio-small {
	flex: 382;
}

.golden-ratio-big {
	flex: 618;
}

header .box {
 align-items: center;
}

